# Dependencies
node_modules/

# Expo
.expo/
dist/
expo-env.d.ts
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.hprof
android/
ios/

# Environment
.env
.env.local
.env.*

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Metro bundler
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Testing
coverage/
